
<ul id="nav">
    <li><f:link.action action="index" controller="Event">Home</f:link.action></li>
    <li>
        <f:link.action action="list" controller="Event">Manage events</f:link.action>
        <ul>
            <li><f:link.action action="list" controller="Event">List event</f:link.action>
                 <ul>
                    <li><f:link.action action="new" controller="Event">New event</f:link.action></li>
                </ul>
            </li>
            <li><f:link.action action="list" controller="Location">Locations</f:link.action>
                 <ul>
                    <li><f:link.action action="list" controller="Location">List Location</f:link.action></li>
                    <li><f:link.action action="new" controller="Location">New location</f:link.action></li>
                </ul>
            </li>
        </ul>
    <li>

    </li>
    <li><f:link.action action="index" controller="Person">Manage Person</f:link.action></li>
    <li>
        <a href="#">Kalenderansicht</a>
    </li>
    <li>
        <a href="#">Meine Ansicht</a>
    </li>
</ul>
