{namespace ev=F3\Events\ViewHelpers}
{namespace ext=F3\ExtJS\ViewHelpers}
<!DOCTYPE HTML>
<html>
<head>
	<title>{projectTitle}</title>

	<f:base/>

    <ev:include theme="xtheme-gray"/>
<script type="text/javascript">
    <ext:extDirect.provider namespace="Events" /></script>
    <script type="text/javascript" src="{f:uri.resource(path: 'JavaScript/app/model/State.js')}"></script>
    <script type="text/javascript" src="{f:uri.resource(path: 'JavaScript/app/model/Event.js')}"></script>
    <script type="text/javascript" src="{f:uri.resource(path: 'JavaScript/app/model/Location.js')}"></script>
    <script type="text/javascript" src="{f:uri.resource(path: 'JavaScript/app/store/State.js')}"></script>
    <script type="text/javascript" src="{f:uri.resource(path: 'JavaScript/app/store/Event.js')}"></script>
    <script type="text/javascript" src="{f:uri.resource(path: 'JavaScript/app/store/Location.js')}"></script>
    <script type="text/javascript" src="{f:uri.resource(path: 'JavaScript/app/view/GenericForm.js')}"></script>
    <script type="text/javascript" src="{f:uri.resource(path: 'JavaScript/app/view/GenericFieldContainer.js')}"></script>
    <script type="text/javascript" src="{f:uri.resource(path: 'JavaScript/app/view/TabContainer.js')}"></script>
    <script type="text/javascript" src="{f:uri.resource(path: 'JavaScript/app/view/location/form/LocationForm.js')}"></script>
    <script type="text/javascript" src="{f:uri.resource(path: 'JavaScript/app/view/location/Edit.js')}"></script>
    <script type="text/javascript" src="{f:uri.resource(path: 'JavaScript/app/view/event/form/field/StateComboBox.js')}"></script>
    <script type="text/javascript" src="{f:uri.resource(path: 'JavaScript/app/view/event/form/field/LocationComboBox.js')}"></script>
    <script type="text/javascript" src="{f:uri.resource(path: 'JavaScript/app/view/event/form/EventForm.js')}"></script>
    <script type="text/javascript" src="{f:uri.resource(path: 'JavaScript/app/view/event/Detail.js')}"></script>
    <script type="text/javascript" src="{f:uri.resource(path: 'JavaScript/app/view/event/Edit.js')}"></script>
    <script type="text/javascript" src="{f:uri.resource(path: 'JavaScript/app/view/event/List.js')}"></script>
    <script type="text/javascript" src="{f:uri.resource(path: 'JavaScript/app/controller/Location.js')}"></script>
    <script type="text/javascript" src="{f:uri.resource(path: 'JavaScript/app/controller/Event.js')}"></script>
    <script type="text/javascript" src="{f:uri.resource(path: 'JavaScript/Application.js')}"></script>
</head>
<body>
    <section class="content">
        <f:render section="content"/>
    </section>
</body>
</html>
