{namespace ev=F3\Events\ViewHelpers}
{namespace ext=F3\ExtJS\ViewHelpers}
<!DOCTYPE HTML>
<html>
<head>
	<title>{projectTitle}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

	<f:base/>

    <ev:include theme="xtheme-gray"/>
    <link rel="stylesheet" href="http://events.mp/_Resources/Static/Packages/Events/CSS/Events.css" />

<script type="text/javascript">
    <ext:extDirect.provider namespace="Events" /></script>

    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=ABQIAAAAYwuIFzCFqOxJ4bP2z3HQNRQueb81E0WWKLPHiKiTf0nzQhqk1BSHYoYcfjner6187r-SAFTTHKSX2g" type="text/javascript"></script>

    <script type="text/javascript" src="{f:uri.resource(path: 'JavaScript/Ext/ux/GMapPanel.js')}"></script>
    <script type="text/javascript" src="{f:uri.resource(path: 'JavaScript/app/model/State.js')}"></script>
    <script type="text/javascript" src="{f:uri.resource(path: 'JavaScript/app/model/Event.js')}"></script>
    <script type="text/javascript" src="{f:uri.resource(path: 'JavaScript/app/model/Location.js')}"></script>
    <script type="text/javascript" src="{f:uri.resource(path: 'JavaScript/app/store/State.js')}"></script>
    <script type="text/javascript" src="{f:uri.resource(path: 'JavaScript/app/store/Event.js')}"></script>
    <script type="text/javascript" src="{f:uri.resource(path: 'JavaScript/app/store/Location.js')}"></script>
    <script type="text/javascript" src="{f:uri.resource(path: 'JavaScript/app/view/content/ContentArea.js')}"></script>
    <script type="text/javascript" src="{f:uri.resource(path: 'JavaScript/app/view/GenericForm.js')}"></script>
    <script type="text/javascript" src="{f:uri.resource(path: 'JavaScript/app/view/GenericFieldContainer.js')}"></script>
    <script type="text/javascript" src="{f:uri.resource(path: 'JavaScript/app/view/TabContainer.js')}"></script>
    <script type="text/javascript" src="{f:uri.resource(path: 'JavaScript/app/view/location/form/LocationForm.js')}"></script>
    <script type="text/javascript" src="{f:uri.resource(path: 'JavaScript/app/view/location/Edit.js')}"></script>
    <script type="text/javascript" src="{f:uri.resource(path: 'JavaScript/app/view/gmap/Detail.js')}"></script>
    <script type="text/javascript" src="{f:uri.resource(path: 'JavaScript/app/view/event/form/field/StateComboBox.js')}"></script>
    <script type="text/javascript" src="{f:uri.resource(path: 'JavaScript/app/view/event/form/field/LocationComboBox.js')}"></script>
    <script type="text/javascript" src="{f:uri.resource(path: 'JavaScript/app/view/event/form/EventForm.js')}"></script>
    <script type="text/javascript" src="{f:uri.resource(path: 'JavaScript/app/view/event/Detail.js')}"></script>
    <script type="text/javascript" src="{f:uri.resource(path: 'JavaScript/app/view/event/Edit.js')}"></script>
    <script type="text/javascript" src="{f:uri.resource(path: 'JavaScript/app/view/event/List.js')}"></script>
    <script type="text/javascript" src="{f:uri.resource(path: 'JavaScript/app/controller/GMaps.js')}"></script>
    <script type="text/javascript" src="{f:uri.resource(path: 'JavaScript/app/controller/Calendar.js')}"></script>
    <script type="text/javascript" src="{f:uri.resource(path: 'JavaScript/app/controller/Location.js')}"></script>
    <script type="text/javascript" src="{f:uri.resource(path: 'JavaScript/app/controller/Event.js')}"></script>
    <script type="text/javascript" src="{f:uri.resource(path: 'JavaScript/Application.js')}"></script>
</head>
<body>
    <section class="content">
        <f:render section="content"/>
    </section>
</body>
</html>
