<f:layout name="Master.html" />

<f:section name="content">
	<p>List view of all available Locations</p>
    <f:if condition="{locations}">
        <f:then>
            <f:for each="{locations}" as="location">
                    <li><h2><f:link.action action="show" controller="Location" arguments="{location: location}">{location}</f:link.action></h2></li>
                </f:for>
        </f:then>
        <f:else>
            <p>There are no locations in database available.</p>
        </f:else>
    </f:if>
</f:section>