<f:layout name="Master.html" />

<f:section name="content">

	<f:flashMessages class="flashMessages"/>

    <f:if condition="{location}">
        <f:then>
            <h2>Location details</h2>
            title: {location.title}<br />
            street: {location.street}<br />
            number: {location.number}<br />
            city: {location.city}<br />
            country: {location.country}<br />
        </f:then>
        <f:else>
            <p>No location given!</p>
        </f:else>
    </f:if>

</f:section>